@model IEnumerable<MyWebApp.Models.Student>

<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table table-striped">
            <tr>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Student BirthDate</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.BirthDate</td>
                </tr>
            }
        </table>
    </div>
</div>